# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [1]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [6]:
spaceship_shape = spaceship.shape
spaceship.shape

(8693, 14)

**Check for data types**

In [7]:
print(spaceship.dtypes)

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [8]:
# Check for missing values in each column
missing_values = spaceship.isnull().sum()
print(missing_values)

# Total missing values in the dataset
total_missing = missing_values.sum()
print(f"Total missing values in the dataset: {total_missing}")

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64
Total missing values in the dataset: 2324

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [9]:
# Drop rows with any missing values
spaceship_cleaned = spaceship.dropna()

# Check the shape after dropping rows with missing values
print(f"Original shape: {spaceship.shape}")
print(f"Shape after dropping missing values: {spaceship_cleaned.shape}")

Original shape: (8693, 14)
Shape after dropping missing values: (6606, 14)

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [10]:
# Simplify the 'Cabin' variable by extracting the first letter
spaceship_cleaned['Cabin'] = spaceship_cleaned['Cabin'].str[0]

# Check the unique values in the transformed 'Cabin' column
print(spaceship_cleaned['Cabin'].unique())

['B' 'F' 'A' 'G' 'E' 'C' 'D' 'T']

C:\Users\Pc\AppData\Local\Temp\ipykernel_7736\1383230425.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spaceship_cleaned['Cabin'] = spaceship_cleaned['Cabin'].str[0]

- Drop PassengerId and Name

In [11]:
spaceship_cleaned = spaceship_cleaned.drop(['PassengerId', 'Name'], axis=1)

# Check the updated dataset
print(spaceship_cleaned.head())

  HomePlanet CryoSleep Cabin  Destination   Age    VIP  RoomService  \
0     Europa     False     B  TRAPPIST-1e  39.0  False          0.0
1      Earth     False     F  TRAPPIST-1e  24.0  False        109.0
2     Europa     False     A  TRAPPIST-1e  58.0   True         43.0
3     Europa     False     A  TRAPPIST-1e  33.0  False          0.0
4      Earth     False     F  TRAPPIST-1e  16.0  False        303.0

   FoodCourt  ShoppingMall     Spa  VRDeck  Transported
0        0.0           0.0     0.0     0.0        False
1        9.0          25.0   549.0    44.0         True
2     3576.0           0.0  6715.0    49.0        False
3     1283.0         371.0  3329.0   193.0        False
4       70.0         151.0   565.0     2.0         True

- For non-numerical columns, do dummies.

In [12]:
# Create dummy variables for non-numerical columns
spaceship_final = pd.get_dummies(spaceship_cleaned, drop_first=True)

# Check the updated dataset
print(spaceship_final.head())
print(f"Shape after creating dummies: {spaceship_final.shape}")

    Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  Transported  \
0  39.0          0.0        0.0           0.0     0.0     0.0        False
1  24.0        109.0        9.0          25.0   549.0    44.0         True
2  58.0         43.0     3576.0           0.0  6715.0    49.0        False
3  33.0          0.0     1283.0         371.0  3329.0   193.0        False
4  16.0        303.0       70.0         151.0   565.0     2.0         True

   HomePlanet_Europa  HomePlanet_Mars  CryoSleep_True  Cabin_B  Cabin_C  \
0               True            False           False     True    False
1              False            False           False    False    False
2               True            False           False    False    False
3               True            False           False    False    False
4              False            False           False    False    False

   Cabin_D  Cabin_E  Cabin_F  Cabin_G  Cabin_T  Destination_PSO J318.5-22  \
0    False    False    False    False    False                      False
1    False    False     True    False    False                      False
2    False    False    False    False    False                      False
3    False    False    False    False    False                      False
4    False    False     True    False    False                      False

   Destination_TRAPPIST-1e  VIP_True
0                     True     False
1                     True     False
2                     True      True
3                     True     False
4                     True     False
Shape after creating dummies: (6606, 20)

**Perform Train Test Split**

In [13]:
# Separate features (X) and target variable (y)
X = spaceship_final.drop('Transported', axis=1)  # Replace 'Transported' with your actual target column
y = spaceship_final['Transported']

# Perform the train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check the shape of the splits
print(f"Training features shape: {X_train.shape}")
print(f"Testing features shape: {X_test.shape}")
print(f"Training target shape: {y_train.shape}")
print(f"Testing target shape: {y_test.shape}")

Training features shape: (5284, 19)
Testing features shape: (1322, 19)
Training target shape: (5284,)
Testing target shape: (1322,)

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [14]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Initialize KNN classifier (you can adjust n_neighbors based on your needs)
knn = KNeighborsClassifier(n_neighbors=5)

# Train the model
knn.fit(X_train, y_train)

# Make predictions on the test set
y_pred = knn.predict(X_test)

# Evaluate the model's accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy of KNN model: {accuracy:.4f}")

Accuracy of KNN model: 0.7935

- Evaluate your model's performance. Comment it

In [15]:
from sklearn.metrics import precision_score, recall_score, f1_score, confusion_matrix, classification_report

# Evaluate the model using various metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)

# Classification report (precision, recall, f1 for each class)
class_report = classification_report(y_test, y_pred)

# Display the results
print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1 Score: {f1:.4f}")
print("\nConfusion Matrix:")
print(conf_matrix)
print("\nClassification Report:")
print(class_report)

Accuracy: 0.7935
Precision: 0.7982
Recall: 0.7922
F1 Score: 0.7952

Confusion Matrix:
[[519 134]
 [139 530]]

Classification Report:
              precision    recall  f1-score   support

       False       0.79      0.79      0.79       653
        True       0.80      0.79      0.80       669

    accuracy                           0.79      1322
   macro avg       0.79      0.79      0.79      1322
weighted avg       0.79      0.79      0.79      1322